<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/header.ejs') %>
        
        <div class="w-4/5 mx-auto py-8">
          <div class="flex flex-wrap justify-around  ">
                <div class="card w-2/5 h-fit">
                    <img src="../images/<%= recipe.srcImg %>"  class="w-full max-h-max">
                    <div class="m-4">
                        <h2 class="title "><%= recipe.title %></h2>
                        <span class="block text-gray-500 text-sm">Recipe by <%= recipe.cooker %></span>
                        <div class="mt-1 opacity-70 flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span class="text-gray-600  text-xs"><%= recipe.time %> mins</span>
                        </div>
                        <div class="mt-1  flex items-center opacity-70">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1 opacity-70"  viewBox="0 0 24 24"
                            ><path d="M3.7 11.3H8v7.9H3.7zm6.5-2.7h4.3v10.6h-4.3zm6.5-4.4v15H21v-15h-4.3zm3.5 14.2h-2.7V5h2.7v13.4z"></path></svg>
                            <span class="text-gray-600  text-xs"><%= recipe.difficulty %></span>
                        </div>
                    </div>

                    <div class="badge">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                        </svg>
                    </div>
                </div>
                <div class="desc-bloc w-2/5">
                    <h1 class="title single"><%= recipe.title %></h1>
                    <div class="desc"><%= recipe.description %></div>
                    <span><a class="delete" data-doc="<%= recipe._id %>">Delete this recipe</a></span>
                </div>

            </div>
    </div>
        <%- include ('./partials/footer.ejs') %>
        <script>
            const deleteRecipe = document.querySelector('a.delete');

            deleteRecipe.addEventListener('click',(e) => {

                const endpoint =`/recipe/${deleteRecipe.dataset.doc}`;

                    fetch(endpoint, {
                    method: 'DELETE'
                    })
                    .then((response) => response.json())
                    .then((data) => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                })
        </script>
    </body>
</html>